li {
  list-style-type: none;
}

.navbar {

}

.logo {
  height: 150px;
}

.website-motto {
  font-family: 'Open Sans';
  font-weight: 800;
}

.newsletter-wrap {
  height: 150px;
}

.newsletter-name-wrap {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
}

.newsletter-tag-wrap {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
}

.total-text-wrap {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;

}

.input-form {
  margin: 0;
  width: 250px;
  height: 36px;
  border: 1px solid none;
  font-family: 'Open Sans';
  text-align: center;
  letter-spacing: 0.75px;
  display: block;
  margin: 0 auto 0 auto;
}

.sign-up {
  background-color: #CCCC54;
  border: 0;
  font-family: 'Open Sans';
  color: black;
  width: 250px;
  height: 36px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.85px;
  display: block;
  margin: 0 auto 0 auto;
}
