
<li ng-repeat="newsletter in newsletters">
  <section class="col-md-4 newsletter-wrap" style="background-image: url({{newsletter.imageUrl}});">
    <section class="newsletter-name-wrap">
      <h2>{{ newsletter.name }}</h2>
    </section>
    <section class="newsletter-tag-wrap">
      <h5>{{ newsletter.tag1 }}, {{ newsletter.tag2 }}, {{ newsletter.tag3 }}
    </section>
    <section class="newsletter-add-wrap">
      <div ng-if="newsletter.signUp === false">
        <button ng-click="addNewsletter(newsletter)" class="add-to">Add</button>
      </div>
      <div ng-if="newsletter.signUp === true">
        <button ng-click="removeNewsletter(index, newsletter)" class="remove">Remove</button>
      </div>
      <a href="/newsletter/{{newsletter.id}}">Preview</button>
    </section>
  </section>
</li>

<section class="bottom-wrap">
  <section class="total-text-wrap">
    You have selected {{ currentSignUps.length }} newsletters.<br>
    <div class="newsletter-list" ng-repeat="newsletter in currentSignUps">
      {{newsletter.name}}
    </div>
  </section>
  <section class="input-wrap">
    <input class="input-form" placeholder="hello@you.com"></input><br>
    <button class="sign-up">Sign Up</button>
  </section>
</section>
