
<li ng-repeat="newsletter in newsletters">
  <section class="col-md-4 newsletter-wrap" style="background-image: url({{newsletter.imageUrl}});">
    <section class="newsletter-name-wrap">
      <h2>{{ newsletter.name }}</h2>
    </section>
    <section class="newsletter-tag-wrap">
      <h5>{{ newsletter.tag1 }}, {{ newsletter.tag2 }}, {{ newsletter.tag3 }}
    </section>
    <section class="newsletter-add-wrap">
      <div ng-if="newsletter.signUp === false">
        <button ng-click="addNewsletter(newsletter)" class="add-to">+</button><br>
      </div>
      <div ng-if="newsletter.signUp === true">
        <button ng-click="removeNewsletter(index, newsletter)" class="remove">-</button>
      </div>
      <a href="/app/#/newsletter/{{newsletter.id}}"><img ng-click="changeView(index)" class="preview pull-right" src="./images/preview.png"></a>
    </section>
  </section>
</li>

<section class="bottom-wrap">
  <section class="total-text-wrap col-md-6">
    <h3 class="selected-text">You have selected <b>{{ currentSignUps.length }}</b> newsletters.</h3><br>
    <div class="newsletter-list col-md-2" ng-repeat="newsletter in currentSignUps">
      {{newsletter.name}}
    </div>
  </section>
  <section class="input-wrap col-md-6">
    <input class="input-form col-md-6" placeholder="hello@you.com"></input>
    <button class="sign-up col-md-6">Sign Up</button>
  </section>
</section>
